.vscode
.idea
*.iml
pycharm

__pycache__
*.pyc
build
_build

*.ipynb_checkpoints


dist
*.egg-info
*-test.py
*.log
logs

venv

*.pt
*.csv
*.txt

training/out
training/runs
training/data
training/leipzig